body {
background-color: #1A1C23;
color: #b2b2b2;
margin: 0;
}

.Tekst {
font-size: 15px;
padding: 25px 25px;

}

.Tijd {
text-align: center;
}

.Tijd H1 {
color: white;
}

.three.column.left.panel {
background-color: #22252b;
color: #b2b2b2;
margin-bottom: -101%;
padding-bottom: 101%; 

 
}

.Ethereum.Koers {
margin-right: 4%;
margin-bottom: 4%;
margin-top: 4%;
}


.BANNER{
height: 50px;
background-color: #30333D;
margin-bottom: 0px;
}

.BANNER H2 {
font-size: 20px;
color: #A9A9A9;
position: absolute;
margin-left: 12px;
}

.info {
padding: 25px 25px;
}

.info P {
text-align: center;
font-size: 20px;
font-weight: bold
}

.logo {
margin-top: 32px;
}

.Advies {
text-align: center;
margin-top: 32px;
padding: 25px 25px;
}

.Advies H1{
color: white;
}

.Advies p {
font-size: 12px;
}

.Advies h2 {
font-size: 30px;
text-transform: uppercase;
font-weight: bold;
border: solid;
}

.logo Img {
display: block;
margin-left: auto;
margin-right: auto;
height: 120px;
}

.duo {
margin-right: 4%;
margin-top: 4%;
}

